.view-card-conatiner{
    background-color: azure;
    width: 100%;
    height: 670px;
    margin: 0;
    border: 2px solid blue;
}

.seperation-information{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 50px;
    width: 100%;
    height: 650px;
}

.single-load-img{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
    /* max-width: 350px; */
}